/* You can add global styles to this file, and also import other style files */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 16px;
    background-color: lightskyblue;
    padding: 20px 10px;
  }
  .content-container{
    margin-top: 60px;
  }
  .card-title, .card-text{
    color: black;
  }
  .details-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 16px;
    padding: 20px 10px;
    img{
        height: 100px;
        width: 100px;
    }
    .card{
        width: 50%;
    }
  }
  .image-title{
    display: flex;
    column-gap: 20px;
  }
  .production{
    margin-left: 5px;
    background-color: greenyellow;
padding: 5px;
border-radius: 10px;
  }
  .genre{
    margin-left: 5px;
    background-color: orange;
padding: 5px;
border-radius: 10px;
  }